!!!5
html
	head
		title CMS
		meta(name="robots", content="noindex, nofollow")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(type='text/javascript', src='/javascripts/underscore.js')
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/javascripts/thaana.js')
		script(type='text/javascript', src='/javascripts/hogan-2.0.0.js')
		script(type='text/javascript', src='/javascripts/bootstrap.js')
		script(type='text/javascript', src='/cms/templates.js')
		script(type='text/javascript', src='/javascripts/cms.js')
	body!= body
